absl-py==0.1.13
appdirs==1.4.3
asn1crypto==0.23.0
astor==0.6.2
backports-abc==0.5
backports.functools-lru-cache==1.5
backports.shutil-get-terminal-size==1.0.0
backports.ssl-match-hostname==3.5.0.1
backports.weakref==1.0.post1
BeautifulSoup==3.2.1
beautifulsoup4==4.4.1
bleach==3.1.1
boto==2.39.0
bs4==0.0.1
bz2file==0.98
certifi==2017.7.27.1
cffi==1.11.2
chardet==2.1.1
colorama==0.2.5
configobj==4.7.2
configparser==3.5.0
cryptography==2.1.2
cycler==0.10.0
Cython==0.22.1
decorator==4.2.1
dnspython==1.11.1
entrypoints==0.2.3
enum34==1.1.6
Flask==0.10.1
funcsigs==1.0.2
functools32==3.2.3.post2
futures==3.2.0
gast==0.2.0
gensim==0.12.4
grpcio==1.10.1
h5py==2.5.0
html5lib==0.9999999
httpretty==0.8.10
idna==2.6
ipaddress==1.0.18
ipykernel==4.6.1
ipython==5.5.0
ipython-genutils==0.2.0
ipywidgets==7.0.3
itsdangerous==0.24
Jinja2==2.9.6
joblib==0.8.2
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.1.0
jupyter-console==5.2.0
jupyter-core==4.4.0
Keras==2.1.5
leveldb==0.193
lmdb==0.86
Markdown==2.6.11
MarkupSafe==1.0
matplotlib==2.1.2
mistune==0.8
mock==2.0.0
mpld3==0.2
nbconvert==5.3.1
nbformat==4.4.0
networkx==2.1
nose==1.3.1
notebook==5.7.8
numexpr==2.4.3
numpy==1.14.2
opencv-python==3.4.0.12
packaging==16.8
pandas==0.16.0
pandocfilters==1.4.2
path.py==8.1.2
pathlib2==2.3.0
patsy==0.3.0
Pattern==2.6
pbr==4.0.2
pexpect==4.2.1
pgnparser==1.0
pickleshare==0.7.4
Pillow==8.1.1
prompt-toolkit==1.0.15
protobuf==3.5.2.post1
ptyprocess==0.5.2
PyBrain==0.3
pycparser==2.18
pycrypto==2.6.1
Pygments==2.2.0
pymongo==2.8
pyOpenSSL==17.3.0
pyparsing==2.2.0
pyserial==2.6
python-dateutil==2.6.1
python-gflags==2.0
pytz==2018.3
PyWavelets==0.5.2
PyYAML==3.11
pyzmq==16.0.3
qtconsole==4.3.1
requests==2.8.1
scandir==1.6
scikit-image==0.13.1
scikit-learn==0.17.1
scipy==1.0.0
seaborn==0.7.0
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.11.0
sklearn==0.0
smart-open==1.3.2
statsmodels==0.6.1
subprocess32==3.2.7
tensorboard==1.7.0
tensorflow==1.15.2
tensorflow-gpu==1.2.0
tensorflow-tensorboard==1.5.1
termcolor==1.1.0
terminado==0.6
testpath==0.3.1
Theano==0.9.0
tornado==4.5.2
traitlets==4.3.2
urllib3==1.22
virtualenv==1.11.4
wcwidth==0.1.7
webencodings==0.5.1
widgetsnbextension==3.0.6
